################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeMaze.WebAPI/FileContentIndex/1bba7189-23d9-4d3c-a65b-6582a2012aef.vsidx
/.vs/CodeMaze.WebAPI/FileContentIndex/2e759b00-b7d5-478c-a072-2f00714b9349.vsidx
/.vs/CodeMaze.WebAPI/FileContentIndex/45c3bb2c-5873-4e75-a26b-bbfc09006164.vsidx
/.vs/CodeMaze.WebAPI/FileContentIndex/63fe6cfd-5896-4d10-935b-219f1b72506e.vsidx
/.vs/CodeMaze.WebAPI/FileContentIndex/82d181a0-eeff-4108-8929-3e5ffd4a8727.vsidx
/.vs/CodeMaze.WebAPI/FileContentIndex/8dc6f4c8-7894-4937-b8ad-3f04bd4f6429.vsidx
/.vs/CodeMaze.WebAPI/FileContentIndex/bfbe7528-dc19-4a32-8d87-8a11f0fd471e.vsidx
*.vsidx
/CodeMaze.WebAPI/WeatherForecast.cs
/CodeMaze.WebAPI/Controllers/WeatherForecastController.cs
/CodeMaze.WebAPI/obj/Debug/net6.0/CodeMaze.WebAPI.assets.cache
/CodeMaze.WebAPI/obj/Debug/net6.0/CodeMaze.WebAPI.csproj.AssemblyReference.cache
/CodeMaze.WebAPI/obj/CodeMaze.WebAPI.csproj.nuget.dgspec.json
/CodeMaze.WebAPI/obj/CodeMaze.WebAPI.csproj.nuget.g.props
/CodeMaze.WebAPI/obj/project.assets.json
/CodeMaze.WebAPI/obj/project.nuget.cache
/LoggerService/obj/LoggerService.csproj.nuget.dgspec.json
/LoggerService/obj/Debug/net6.0/LoggerService.csproj.AssemblyReference.cache
/LoggerService/obj/Debug/net6.0/LoggerService.assets.cache
/Contracts/obj/project.assets.json
/Contracts/obj/Debug/net6.0/Contracts.csproj.AssemblyReference.cache
/Contracts/obj/Contracts.csproj.nuget.dgspec.json
/Service.Contracts/obj/Debug/net6.0/Service.Contracts.csproj.AssemblyReference.cache
/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfoInputs.cache
/Presentation/obj/Presentation.csproj.nuget.g.targets
/Presentation/obj/Presentation.csproj.nuget.g.props
/Presentation/obj/Presentation.csproj.nuget.dgspec.json
/.vs/ProjectEvaluation/codemaze.webapi.metadata.v7.bin
/.vs/ProjectEvaluation/codemaze.webapi.projects.v7.bin
/Service/obj/Debug/net6.0/Service.assets.cache
/Service/obj/Debug/net6.0/Service.csproj.AssemblyReference.cache
/Repository/obj/project.nuget.cache
/Repository/obj/project.assets.json
/Repository/obj/Repository.csproj.nuget.dgspec.json
*.cache
/Service.Contracts/obj/Service.Contracts.csproj.nuget.dgspec.json
/Service.Contracts/obj/project.assets.json
/Service/obj/project.assets.json
/Service/obj/project.nuget.cache
/Service/obj/Service.csproj.nuget.dgspec.json
/Service.Contracts/obj/project.nuget.cache
/Contracts/obj/project.assets.json
/Contracts/obj/project.nuget.cache
/CodeMaze.WebAPI/bin/Debug/net6.0/Contracts.pdb
/CodeMaze.WebAPI/bin/Debug/net6.0/Contracts.dll
/CodeMaze.WebAPI/bin/Debug/net6.0/Entities.dll
/CodeMaze.WebAPI/bin/Debug/net6.0/Entities.pdb
/CodeMaze.WebAPI/bin/Debug/net6.0/LoggerService.dll
/CodeMaze.WebAPI/bin/Debug/net6.0/CodeMaze.WebAPI.deps.json
/CodeMaze.WebAPI/bin/Debug/net6.0/CodeMaze.WebAPI.pdb
*.dll
/CodeMaze.WebAPI/bin/Debug/net6.0/Repository.dll
/CodeMaze.WebAPI/bin/Debug/net6.0/CodeMaze.WebAPI.dll
/CodeMaze.WebAPI/bin/Debug/net6.0/LoggerService.pdb
*.pdb
/CodeMaze.WebAPI/bin/Debug/net6.0/Repository.pdb
/CodeMaze.WebAPI/obj/Debug/net6.0/CodeMaze.WebAPI.csproj.FileListAbsolute.txt
/CodeMaze.WebAPI/obj/Debug/net6.0/CodeMaze.WebAPI.csproj.CoreCompileInputs.cache
*.BuildWithSkipAnalyzers
/CodeMaze.WebAPI/obj/Debug/net6.0/CodeMaze.WebAPI.dll
/CodeMaze.WebAPI/obj/Debug/net6.0/refint/CodeMaze.WebAPI.dll
/CodeMaze.WebAPI/obj/Debug/net6.0/ref/CodeMaze.WebAPI.dll
/Repository/obj/Debug/net6.0/Repository.pdb
/Repository/obj/Debug/net6.0/Repository.csproj.AssemblyReference.cache
/Repository/obj/Debug/net6.0/Repository.csproj.CoreCompileInputs.cache
/Repository/obj/Debug/net6.0/Repository.csproj.FileListAbsolute.txt
/Repository/obj/Debug/net6.0/Repository.dll
/Repository/obj/Debug/net6.0/refint/Repository.dll
/Repository/obj/Debug/net6.0/ref/Repository.dll
*.editorconfig
/LoggerService/obj/Debug/net6.0/LoggerService.pdb
/LoggerService/obj/Debug/net6.0/LoggerService.dll
/LoggerService/obj/Debug/net6.0/LoggerService.csproj.FileListAbsolute.txt
/LoggerService/obj/Debug/net6.0/LoggerService.csproj.CoreCompileInputs.cache
/LoggerService/bin/Debug/net6.0/Contracts.dll
/LoggerService/bin/Debug/net6.0/Contracts.pdb
/LoggerService/bin/Debug/net6.0/LoggerService.deps.json
/LoggerService/bin/Debug/net6.0/LoggerService.dll
/LoggerService/bin/Debug/net6.0/LoggerService.pdb
/Entities/obj/Debug/net6.0/Entities.pdb
/Entities/obj/Debug/net6.0/Entities.csproj.CoreCompileInputs.cache
/Entities/obj/Debug/net6.0/Entities.dll
/Repository/bin/Debug/net6.0/Repository.dll
/Repository/bin/Debug/net6.0/Repository.deps.json
/Repository/bin/Debug/net6.0/Entities.dll
/Repository/bin/Debug/net6.0/Entities.pdb
/Repository/bin/Debug/net6.0/Repository.pdb
/Contracts/obj/Debug/net6.0/Contracts.pdb
/Contracts/obj/Debug/net6.0/Contracts.dll
/Contracts/obj/Debug/net6.0/Contracts.csproj.FileListAbsolute.txt
/Contracts/obj/Debug/net6.0/Contracts.csproj.CoreCompileInputs.cache
*.CopyComplete
/CodeMaze.WebAPI/obj/Debug/net6.0/CodeMaze.WebAPI.pdb
/Contracts/bin/Debug/net6.0/Contracts.deps.json
/Contracts/bin/Debug/net6.0/Contracts.pdb
/Contracts/bin/Debug/net6.0/Contracts.dll
/Contracts/obj/Debug/net6.0/ref/Contracts.dll
/Contracts/obj/Debug/net6.0/refint/Contracts.dll
/Entities/bin/Debug/net6.0/Entities.dll
/Entities/bin/Debug/net6.0/Entities.pdb
/Entities/obj/Debug/net6.0/ref/Entities.dll
/Entities/obj/Debug/net6.0/refint/Entities.dll
*.json
*.txt
/CodeMaze.WebAPI/internal_logs/internallog.txt
/LoggerService/obj/project.nuget.cache
/LoggerService/obj/project.assets.json
